<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Biblioteca</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <h1 class="title"><span class="icon">📚</span> Biblioteca</h1>
        <a class="add-button" href="/library/new"
            ><span style="font-size: 1.2em">+</span> Novo Livro</a
        >
        <ul class="book-container">
            <% books.forEach(book => { %>
            <li class="book">
                <div>
                    <strong><%= book.title %></strong> - R$ <%= book.price %>
                </div>

                <div class="book-actions">
                    <a class="action" href="/library/<%= book.id %>/edit"
                        >✏️
                    </a>
                    <form
                        action="/library/<%= book.id %>/delete"
                        method="POST"
                        style="display: inline"
                    >
                        <button class="action" type="submit">🗑️</button>
                    </form>
                </div>
            </li>
            <% }) %>
        </ul>
    </body>
</html>
